html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(118, 118, 255);
}

canvas {
  /* border: 30px groove rgba(255, 251, 38, 0.514); */
  border: 20px groove rgba(238, 235, 73, 0.758);
  margin-top: 300px;
  margin-left: 300px;
  display: block;
  width: 700px !important;
  height: auto !important;
}